<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthbooking - Nền tảng y tế sức khỏe toàn diện</title>
    <title>HealthBooking Bác Sĩ</title>
    <link rel="shortcut icon" href="/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../style.css">
    <script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
</head>
<body>

<div style="background-color: #003399; height: 130px">
    <header th:insert="~{/layout/bac-si/header.html::headerFragment}"></header>
</div>

<main style="min-height: 30vh;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2" th:insert="~{/layout/thong-ke/sitebar.html::sitebarFragment}"></div>
            <main class="col-10 p-3">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="text-start fw-bold">Danh sách bác sĩ</h1>
                        </div>
                        <div class="col text-end">
                            <div class="d-grid gap-4 d-md-flex justify-content-md-end">
                                <div style="line-height: 40px">
                                    <b>Số lượng hiện tại:</b>
                                    <span class="text-danger">[[${totalDoctors}]]</span>
                                </div>
                                <button class="btn btn-outline-success me-md-2" type="button">Thêm bác sĩ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <table class="table table-hover">
                    <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">Ảnh</th>
                        <th scope="col">Tên bác sĩ</th>
                        <th scope="col">Chuyên khoa</th>
                        <th scope="col">Cơ sở y tế</th>
                        <th scope="col">Đào tạo</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col" width="200">Lựa chọn</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" th:each="bacSi : ${bacSi}" th:object="${bacSi}">
                            <td>[[*{maBacSi}]]</td>
                            <td>
                                <img th:src="@{'/img/' + *{hinhAnh}}" class="img-thumbnail" width="100" alt="...">
                            </td>
                            <td>[[*{tenBacSi}]]</td>
                            <td>[[*{chuyenKhoa.tenChuyenKhoa}]]</td>
                            <td>[[*{coSoYTe.tenCoSoYTe}]]</td>
                            <td>[[*{daoTao}]]</td>
                            <td>[[*{soDienThoai}]]</td>
                            <td>
                                <div class="d-grid gap-2 d-md-block">
                                    <a href="" type="button" class="btn btn-outline-primary">Sửa</a>
                                    <a href="" type="button" class="btn btn-outline-danger">Xóa</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="container">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a th:href="@{/HealthBooking/thong-ke/bac-si(page=0)}" class="btn btn-outline-danger me-md-2" type="button">Về đầu</a>
                        <a th:href="@{/HealthBooking/thong-ke/bac-si(page=${bacSi.number - 1})}" class="btn btn-outline-danger" type="button">Lùi lại</a>
                        <a th:href="@{/HealthBooking/thong-ke/bac-si(page=${bacSi.number + 1})}" class="btn btn-outline-danger" type="button">Tiếp theo</a>
                        <a th:href="@{/HealthBooking/thong-ke/bac-si(page=${bacSi.totalPages - 1})}" class="btn btn-outline-danger" type="button">Đến cuối</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>

<footer th:insert="~{/layout/footer.html::footerFragment}"></footer>

<script th:src="@{/jsSlidershow/jquery.min.js}"></script>
<script th:src="@{/jsSlidershow/popper.js}"></script>
<script th:src="@{/jsSlidershow/bootstrap.min.js}"></script>
<script th:src="@{/jsSlidershow/owl.carousel.min.js}"></script>
<script th:src="@{/jsSlidershow/main.js}"></script>
</body>
</html>