<!DOCTYPE html>
<html lang="en" xmlns:temporal="http://www.thymeleaf.org/extras/temporal">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết chuyên khoa</title>
    <link rel="shortcut icon" href="/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../style.css">
    <script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
  </head>
  <body>
	  
	  
	       <div  style="background-color: #0066CC;">
        <header th:insert="~{/layout/header.html::headerFragment}"></header>
        
 </div>
    <div class="container main">
      
      
  

      <main>
        


       <div class="container">
    <form th:action="@{/HealthBooking/bac-si/danh-sach-khu-vuc}" th:method="get">
        <select class="form-select w-50 fw-bold" name="khuVuc" onchange="this.form.submit()">
            <option selected disabled>Khu Vực</option>
            <option th:each="khuVuc : ${listKhuVuc}" 
                    th:value="${khuVuc}" 
                    th:text="${khuVuc}"
                 th:selected="${#strings.equals(khuVuc, selectedKhuVuc)}">

            </option>
        </select>
 
    </form>
    </div>



        <br>
        
          <div class="card mb-3" th:each="bacsichuyenkhoa : ${list}" >
            <div class="row g-0">
              <div class="col-md-2 h-100">
                <div class="card border-0">
                  <img th:src="@{/img/{image}(image=${bacsichuyenkhoa.hinhAnh})}" class="rounded-pill d-block mt-3 mx-auto" alt="..." width="150px"/>
                  <div class="card-body d-flex justify-content-center">
                    <a class="btn btn-danger" th:href="@{/HealthBooking/bacsi/{maBacSi}(maBacSi=${bacsichuyenkhoa.maBacSi})}" role="button">Chi tiết</a>
                  </div>
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${bacsichuyenkhoa.tenBacSi}"></h5>
                            <p class="card-text" style="text-align: justify;"
                            th:text="${bacsichuyenkhoa.chuyenKhoa.tenChuyenKhoa}"
                            >
                              
                            </p>
                            <p class="card-text"   th:text="${bacsichuyenkhoa.coSoYTe.tenCoSoYTe}">
                              <small class="text-body-secondary">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="17"
                                  height="17"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="lucide lucide-locate-fixed"
                                 
                                >
                                  <line x1="2" x2="5" y1="12" y2="12" />
                                  <line x1="19" x2="22" y1="12" y2="12" />
                                  <line x1="12" x2="12" y1="2" y2="5" />
                                  <line x1="12" x2="12" y1="19" y2="22" />
                                  <circle cx="12" cy="12" r="7" />
                                  <circle cx="12" cy="12" r="3" />
                                </svg>
                               
                              </small>
                            </p>
                          </div>
                    </div>
                    <div class="col-sm-8 p-3">
                        <div class="row mb-2">
                          <div class="col">
                           
                          </div>
                          
                          <div class="col d-flex justify-content-end" >
							  
		

                         </div>
                         </div>
                         
                         <div class="container text-center p-0">
                         <div class="row row-cols-lg-5 gy-4" >
							
                            
                            </div>
                          </div>
                          <div class="container p-0 my-3">
                            <ul class="list-group mb-3">
                                <li class="list-group-item active" aria-current="true">
                                  <div class="row">
                                    <div class="col">
                                      ĐỊA CHỈ KHÁM
                                      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-down-to-dot"><path d="M12 2v14"/><path d="m19 9-7 7-7-7"/><circle cx="12" cy="21" r="1"/></svg>
                                    </div>
                                    <div class="col text-end">
                                        <div class="d-inline bg-danger p-1 rounded-1">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-banknote"><rect width="20" height="12" x="2" y="6" rx="2"/><circle cx="12" cy="12" r="2"/><path d="M6 12h.01M18 12h.01"/></svg>  
                                             GIÁ KHÁM: <strong th:text="${#numbers.formatDecimal(bacsichuyenkhoa.gia, 0, 'COMMA', 0, 'POINT')}"></strong> <strong>VND</strong>

                                        </div>
                                    </div>
                                  </div> 
                                </li>
                                <li class="list-group-item fw-bold"   th:text="${bacsichuyenkhoa.coSoYTe.tenCoSoYTe}"></li>
                                <li class="list-group-item" th:text="${bacsichuyenkhoa.coSoYTe.diaChi}"></li>
                              </ul>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
         
         
         
         
        </div>
      </main>

      
          <footer th:insert="~{/layout/footer.html::footerFragment}"></footer>
      
    </div>
  </body>
</html>
