<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập - HealthBooking</title>
    <link rel="shortcut icon" href="/image/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
         <link rel="icon" type="image/png" th:href="@{/img/logo.png}" sizes="64x64">

    <script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
</head>
<body>
	
	    <div  style="background-color: #003399;">
        <header th:insert="~{/layout/header.html::headerFragment}"></header>
        
 </div>
    <div class="container main">

   
      
        <main>
            <div class="container text-center border p-5 rounded-5 border-primary">
                <div class="row" style="min-height: 300px;">
                  <div class="col"></div>
                  <div class="col  d-flex align-items-center">
					  
					   <form th:action="@{/HealthBooking/security/login}" method="post">
                    <div class="container">
                        <h1 class="mb-3 text-primary text-uppercase">Đăng nhập</h1>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
                        <label for="username">Email hoặc Tên đăng nhập</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <label for="password">Mật khẩu</label>
                      </div>
                      <div class="row mb-3">
                        <div class="col d-flex justify-content-start">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="remember">
                                <label class="form-check-label" for="remember">
                                    Nhớ mật khẩu
                                </label>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                                Quên mật khẩu
                              </a>
                        </div>
                      </div>
                      <div class="w-100 mb-3">
                        <button class="btn btn-primary w-100 btn-lg" type="submit" >Đăng nhập</button>
                      </div>
                      
                      </form>
                      
                      <p class="text-start">Bạn chưa có tài khoản <strong>HealthBooking</strong>?
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
                            Đăng ký
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
            </div>
        </main>



          
       
       

    </div>
</body>
</html>