<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthbooking - Nền tảng y tế sức khỏe toàn diện</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css}" rel="stylesheet">
    
    <script src="/bootstrap-5.3.2-dist/js/bootstrap.bundle.js"></script>
    
     <link rel="icon" type="image/png" th:href="@{/img/logo.png}" sizes="64x64">
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/cssSliderShow/style.css}">
    	<link rel="stylesheet" th:href="@{/cssSliderShow/owl.carousel.min.css}">
    <!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css}">


</head>
<body>
    <div class="container-fluid p-0 main">
        

   <div  style="background-color: #CCFFFF;">
        <header th:insert="~{/layout/header.html::headerFragment}"></header>

      
     
      
   
            
            <!-- Banner Start -->
    <div id="carouselExampleIndicators" class="carousel slide container " data-bs-ride="carousel" >
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
    <div class="carousel-item active " style="height: 400px;">
        <img th:src="@{/img/Slide1.jpg}" class="d-block w-100 h-100 " alt="..." style="object-fit: cover; border-radius: 50px;">
    </div>
    <div class="carousel-item " style="height: 400px;">
        <img th:src="@{/img/Slide2.jpg}" class="d-block w-100 h-100 " alt="..." style="object-fit: cover; border-radius: 50px;">
    </div>
    <div class="carousel-item " style="height: 400px;">
        <img th:src="@{/img/Slide3.jpg}" class="d-block w-100 h-100 " alt="..." style="object-fit: cover; border-radius: 50px;">
    </div>
    </div>
    </div>

</div>
   <main class="container" > 
              <!-- Banner end -->

              <!-- Chuyên khoa start -->
              <section id="specialist" class="my-5" style="min-height: 500px;">
                <div class="container p-0">
                    <div class="row pt-5">
                      <div class="col">
                        <h3>Chuyên khoa</h3>
                      </div>
                      <div class="col d-flex justify-content-end">
                        <a  th:href="@{/HealthBooking/danh-sach/chuyenkhoa}" >

                        <button type="button" class="btn btn-primary btn-lg">Xem thêm</button>
                        
                        </a>                   
                        </div>
                    </div>
                  </div>
                 
                 <!-- SliderShow -->
    <div class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel" >
						<div class="item" th:each="ChuyenKhoa : ${ChuyenKhoa}">
					  <a th:href="@{/HealthBooking/danh-sach/chuyenkhoa/{maChuyenKhoa}(maChuyenKhoa=${ChuyenKhoa.maChuyenKhoa})}"
                      class="text-decoration-none  fs-4  text-dark">

								<div class="work border  " style="border-radius: 45px;"> 
									<div class="img d-flex align-items-center justify-content-center rounded">
						                <img th:src="@{/img/{image}(image=${ChuyenKhoa.hinhAnh})}" alt="Background Image" class="img-fluid rounded-5 p-4 " style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1; border-radius: 45px; ">

										
									</div>
									
								</div>
								<div class="text pt-3 w-100 text-center">
									<h4 th:text="${ChuyenKhoa.tenChuyenKhoa}"></h4>

									</div>
					  </a>
							</div>

						
						</div>
					</div>
				</div>
			</div>
		</div>
		    </section>
               
                  <!-- Danh mục chuyên khoa End -->

          
              <!-- Chuyên khoa end -->

              <!-- CSYT start -->
              <section id="specialist" class="my-5" style="min-height: 500px;">
                <div class="container p-0">
                    <div class="row pt-5">
                      <div class="col">
                        <h3>Cơ sở y tế</h3>
                      </div>
                      <div class="col d-flex justify-content-end">
                       <a  th:href="@{/HealthBooking/coso-yte/danh-sach}" >

                        <button type="button" class="btn btn-primary btn-lg">Xem thêm</button>
                        
                        </a>                       </div>
                    </div>
                  </div>
                  <!-- Danh mục CSYT Start -->
               <div class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel" >
						<div class="item" th:each="CoSoYTe : ${CoSoYTe}">
					    <a th:href="@{/HealthBooking/CoSoYTe/{maCoSoYTe}(maCoSoYTe=${CoSoYTe.maCoSoYTe})} " class="text-decoration-none  fs-4  text-dark">
								<div class="work  border" style="border-radius: 45px;">
									<div class="img d-flex align-items-center justify-content-center ">
						                <img th:src="@{/img/{image}(image=${CoSoYTe.hinhAnh})}" alt="Background Image" class="img-fluid rounded-5 p-4" style="width: 100%; height: 70%; position: absolute; top: 0; left: 0; z-index: -1;">

								
									</div>
							
								</div>
										<div class="text pt-3 w-100 text-center">
									<h4 th:text="${CoSoYTe.tenCoSoYTe}"></h4>

									</div>
					    </a>
						</div>
				
						</div>
						</div>

						
						</div>
					</div>
				</div>
			</div>
		</div>
         </section>       
         
         </div>
         
       <section id="specialist"  style="  position: relative;">
		     <img th:src="@{/img/backgroundt.png}" alt="Background Image" class="img-fluid rounded-5" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: -1;">

                <div class="container p-0">
                    <div class="row pt-5">
                      <div class="col">
                        <h3>Bác Sĩ </h3>
                      </div>
                      <div class="col d-flex justify-content-end">
				    <a  th:href="@{/HealthBooking/bac-si/danh-sach}" >

                        <button type="button" class="btn btn-primary btn-lg">Xem thêm</button>
                        
                        </a>
                      </div>
                    </div>
                  </div>
                 
                 <!-- SliderShow -->
      <div class="ftco-section container">
			<div class="">
				<div class="row">
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel" >
						<div class="item" th:each="BacSi : ${BacSi}">
					  <a th:href="@{/HealthBooking/bacsi/{maBasi}(maBasi=${BacSi.maBacSi})} " class="text-decoration-none  fs-4  text-dark">

								<div class="work " > 
									<div class="img d-flex align-items-center justify-content-center rounded">
						                <img th:src="@{/img/{image}(image=${BacSi.hinhAnh})}" alt="Background Image" class="img-fluid rounded-5" style="width: 80%; height: 90%; position: absolute; top: 0; left: 0; z-index: -1; border-radius: 200px;">

									</div>
									<div class="text pt-3 w-100 text-center">
									<h4 th:text="${BacSi.tenBacSi}"></h4>
									</div>
								
								</div>
					  </a>
							</div>

						
						</div>
					</div>
				</div>
			</div>
		</div>
		    </section>

              <!-- Bác sĩ end -->


       


        </main>
        
           <footer th:insert="~{/layout/footer.html::footerFragment}"></footer>


    </div>
    
   

    
    <script th:src="@{/jsSlidershow/jquery.min.js}"></script>
    <script th:src="@{/jsSlidershow/popper.js}"></script>
    <script th:src="@{/jsSlidershow/bootstrap.min.js}"></script>
    <script th:src="@{/jsSlidershow/owl.carousel.min.js}"></script>
    <script th:src="@{/jsSlidershow/main.js}"></script>
</body>
</html>